# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
themes/vanessa-lyn/assets/vendor/*
themes/vanessa-lyn/assets/css/main.css.map
themes/vanessa-lyn/assets/css/*main*.css
themes/vanessa-lyn/assets/js/*scripts*.js
themes/vanessa-lyn/assets/js/vendor/modernizr.min.js
themes/vanessa-lyn/assets/manifest.json
